@model ALWADI.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div class="row" style="margin-top:10px;">
    <div class="col-12">

        <div class="card card-success border-0">
            <div class="card-header">
                <h3 class="card-title">معلومات المريض</h3>


                <div class="d-inline">
                    <a asp-action=""><i class="fa fa-arrow-left fa-lg"></i> </a>
                </div>

            </div>

            <form>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <div class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="category_name" class="control-label">@Html.DisplayNameFor(model => model.category_name)</label>
                                <input class="form-control" asp-for="category_name" type="text" />
                                <span asp-validation-for="category_name" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="categoy_cost" class="control-label">@Html.DisplayNameFor(model => model.categoy_cost)</label>
                                <input class="form-control" asp-for="categoy_cost" />
                                <span asp-validation-for="categoy_cost" class="text-danger"></span>
                            </div>
                            


                           



                        </div>
                        <div class="col-5">





                            <div class="form-group">
                                <label asp-for=" duration" class="control-label">@Html.DisplayNameFor(model => model.duration)</label>
                                <input class="form-control" asp-for=" duration" />
                                <span asp-validation-for=" duration" class="text-danger"></span>
                            </div>
                            <div class="form-group ">
                                <label asp-for="pruch_cost" class="control-label"> @Html.DisplayNameFor(model => model.pruch_cost)</label>
                                <input asp-for="pruch_cost" class="form-control" />
                                <span asp-validation-for="pruch_cost" class="text-danger"></span>
                            </div>
                           


                        </div>

                        

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</div>
